{
	{$CADDY_DEBUG}
}

{$WEBSITE_HOSTNAME:connliu.azurewebsites.net} {
    log {
        level INFO
        output file /var/log/caddy.log
        format console
    }
    @v2ray_websocket {
        path /connliu
        header Connection Upgrade
        header Upgrade websocket
    }
    reverse_proxy @v2ray_websocket localhost:10000

    respond "websocket"
}